/*Mobile-view
.connect{
    text-align: center;
    margin-top: 70px;
    color: #fff;
}
.menu_bar{
    display: grid;
    position: relative;
    width: 55px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}
.menu_bar .bar, .menu_bar:after, .menu_bar:before{
    width: 60px;
    content: "";
    display: block;
    height: 6px;
    background-color: rgb(216, 212, 212);
    margin: 6px 10px;
    transition: .0s;
}
.menu_bar.is-active:before{
    transform: rotate(-45deg) translate(-18px, 18px);
}
.menu_bar.is-active:after{
    transform: rotate(45deg) translate(-15px, -15px);
}
.menu_bar.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    width: 30px;
    font-size: 25px;
    min-height: 80vh;
    z-index: 98;
    font-family: 'Mingzat', sans-serif;
    padding-top: 20px;
    transition: .2s;
    margin-top: 100px;
}
.mobile-nav.is-active{
    right: 0;
}
.mobile-nav a{
    display: grid;
    margin: 30px;
}

